.chat-form-container {
	padding: 20px 30px;
    background-color: var(--dark-color-a);
    width: auto;
}

.chat-form-container form {
	display: flex;
}
.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}